
#containerBody
{
 /*background-color:rgba(255,128,0,0.7);*/
 background-image: url("../../.models/.medias/.xmls/signmeeting-app-ews/gui/css/images/diagonal3.png");
}
#mainpage_current_summary
{
 color:#0077FF;
}
#mainpage_current_location
{
 color:#FF0000;
}
#mainpage_current_organizer
{
 color:#00FF00;
}
#mainpage_current_organizer-label
{
 color:#FF0000;
}

#mainpage_current_attendees-label
{
 color:#FF5000;
}
#mainpage_current_attendees
{
 color:#00FF00;
}
#mainpage_current_description
{
 color:#0077FF;
}
#mainpage_current_description-label
{
 color:#FF5858;
}
#mainpage_current_date
{
 color:#4477FF;
}
#mainpage_current_meeting-state
{
 color:#555555;
}

/* NEXT MEETING */
#mainpage_next_summary
{
 color:#7700FF;
}

#mainpage_next_organizer-label
{
 color:#55FF00;
}

#mainpage_next_organizer
{
 color:#FF0000;
}
#mainpage_next_attendees-label
{
 color:#00FF00;
}
#mainpage_next_attendees
{
 color:#FF0000;
}

#mainpage_next_description
{
 color:#0077FF;
}


#mainpage_next_date
{
 color:#7755FF;
}

#mainpage_next_meeting-state
{
 color:#77FF99;
}
